/*
 * Selector variables
 */
/*
 * Functions
 */
/*
 * Themes
 */
.botany.lines li:before {
  background-image: url("closed.svg"), url("vertical.svg"), url("horizontal.svg");
  cursor: pointer;
}
.botany.lines li.open:before {
  background-image: url("open.svg"), url("vertical.svg"), url("horizontal.svg");
  cursor: pointer;
}
.botany.no-lines li:before {
  background-image: url("closed.svg"), none, none;
  cursor: pointer;
}
.botany.no-lines li.open:before {
  background-image: url("open.svg"), none, none;
  cursor: pointer;
}
.botany.no-markers li:before {
  background-image: none, url("vertical.svg"), url("horizontal.svg");
}
.botany.no-markers li.open:before {
  background-image: none, url("vertical.svg"), url("horizontal.svg");
}
/*
 * Main CSS
 */
.botany-closed,
.botany-open {
  cursor: pointer;
}
.botany ul {
  padding-left: 40px;
}
.botany li.open > .botany-closed {
  display: none;
}
.botany li:not(.open) ul {
  display: none;
}
.botany li:not(.open) > .botany-open {
  display: none;
}
.botany li:before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  height: 100%;
  background-repeat: no-repeat, repeat-y, repeat-x;
  width: calc(2em - 1px);
  margin-left: -2em;
  background-size: 1.3em auto, 1em auto, auto 1em;
  background-position: -0.2em 0.2em, 0px 0.15em, 0.75em 0.3em;
  padding-left: 0.4em;
  background-clip: border-box, content-box, content-box;
}
.botany li:last-child:not(:first-child):before,
.botany li:first-child:last-child:before {
  height: 1.2em;
  background-repeat: no-repeat, no-repeat, repeat-x;
}
.botanyul,
.botany ul,
.botany li {
  margin: 0;
  position: relative;
  list-style: none;
}
