/*
 * Selector variables
 */

middle-node = ':not(:last-child):not(:first-child)';
first-node = ':first-child:not(:last-child)';
last-node = ':last-child:not(:first-child)';
only-node = ':first-child:last-child';

/*
 * Functions
 */

toURL(path)
  return path == '' ? none:url(path)

/*
 * Themes
 */

//The list of themes to be available in the final stylesheet as classes. Change this list to add or remove themes
themesList = "lines", "no-lines", "no-markers"

//For each theme, import the json file that indicates the images to use
for theme in themesList {
  themeData = json('themes/' + theme + '.json', { hash: true })

  .botany.{theme} li {
    &:before {
      background-image: toURL(themeData.closed),
      toURL(themeData.vertical),
      toURL(themeData.horizontal);

      //If there's a marker, make it seem clickable
      if themeData.closed != "" {
        pointer: cursor;
      }
    }

    &.open:before {
      background-image: toURL(themeData.open),
      toURL(themeData.vertical),
      toURL(themeData.horizontal);

      //If there's a marker, make it seem clickable
      if themeData.open != "" {
        pointer: cursor;
      }
    }
  }
}

/*
 * Main CSS
 */

//Make the open and closed images seem interactive
.botany-closed, .botany-open {
  cursor: pointer;
}

.botany li {

  //Don't display the closed image inside a open node
  &.open {
    & > .botany-closed {
      display: none;
    }
  }

  &:not(.open) {

    //By default all nodes are closed, so their <ul>s are not displayed
    ul {
      display: none;
    }

    //Don't display the open image inside a closed node
    & > .botany-open {
      display: none;
    }
  }

  //Base class that applies to all :before pseudo elements, defining the three background images:
  //the open/closed image, the vertical line, and the horizontal line
  &:before {
    content: ""; //Needed to make the peudo element visible
    position: absolute;
    height: 100%; //Same height as the node it's :before
    background-repeat: no-repeat, repeat-y, repeat-x; //The marker doesn't repeat, the lines do

    width: calc(2em + 1px);
    margin-left: -2em; //Move it back by its width

    //These are weirdly specific but they seem to work
    background-size: 1.3em auto, 1em auto, auto 1em;
    background-position: -0.2em 0.2em, 0px 0.15em, 0.75em 0.3em;

    //The left padding means the horizontal line is cut off at the left edge because it uses a content-box
    //Whereas all the others use border-box
    padding-left: 0.4em;
    background-clip: border-box, content-box, content-box;
  }

  // The last node has no vertical line
  &{last-node}, &{only-node} {

    &:before {
      height: 1.2em;
      background-repeat: no-repeat, no-repeat, repeat-x;
    }
  }
}

//Make everything relatively positioned so that the :before elements can be absolutely positioned but relative to them
.botany {
  &ul, ul, li {
    position: relative;
    list-style: none;
  }
}
