/*
 * Selector variables
 */

middle-node = ':not(:last-child):not(:first-child)';
first-node = ':first-child:not(:last-child)';
last-node = ':last-child:not(:first-child)';
only-node = ':first-child:last-child';

/*
 * Functions
 */

toURL(path)
  return path == '' ? none:url(path)


/*
 * Themes
 */

//The list of themes to be available in the final stylesheet as classes. Change this list to add or remove themes
themesList = "lines", "no-lines", "no-markers"

//For each theme, import the json file that indicates the images to use
for theme in themesList {
  themeData = json('themes/' + theme + '.json', { hash: true })

  .botany.{theme} li {
    &:before {
      background-image:
        toURL(themeData.closed),
        toURL(themeData.vertical),
        toURL(themeData.horizontal);
    }

    &.open:before {
      background-image:
        toURL(themeData.open),
        toURL(themeData.vertical),
        toURL(themeData.horizontal);
    }
  }
}


/*
 * Main CSS
 */

//Make the open and closed images seem interactive
.botany-closed, .botany-open {
  cursor: pointer;
}

.botany li {

  //Don't display the closed image inside a open node
  &.open {
    & > .botany-closed {
      display: none;
    }
  }

  &:not(.open) {

    //By default all nodes are closed, so their <ul>s are not displayed
    ul {
      display: none;
    }

    //Don't display the open image inside a closed node
    & > .botany-open {
      display: none;
    }
  }

  //Base class that applies to all :before pseudo elements, defining the three background images
  //The open/closed image, the vertical line, and the horizontal line
  &:before {
    background-position: -1px 4px, 0px 0px, 10px 6px;

    background-repeat: no-repeat,
    repeat-y,
    no-repeat;

    background-size: 75% auto,
    1em auto,
    1em auto;

    float: left;
    cursor: pointer;
    content: "";
    display: block;
    position: absolute;
    /*height: calc(100% + 1em);*/
    height: 100%;
    width: 20px;
    margin-left: -20px;
  }

  // The last node has no vertical line
  &{last-node}, &{only-node} {

    &:before {
      height: 1.2em;
    }
  }
}

//Make everything relatively positioned so that the :before elements can be absolutely positioned but relative to them
.botany {
  &ul, ul, li {
    position: relative;
    list-style: none;
  }
}
